<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.selbie.wrek"
	android:versionCode="8"
	android:versionName="1.08" >
	
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="19" />

	<application
		android:allowBackup="true"
		android:icon="@drawable/logo"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">
		<activity
			android:name="com.selbie.wrek.MainActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		
        <activity android:name=".SettingsActivity" android:parentActivityName=".MainActivity" android:label="@string/settingsActivityTitle">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
        </activity>    
		
		<activity android:name=".AboutActivity" android:parentActivityName=".MainActivity" android:label="@string/aboutActivityTitle">
	        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".MainActivity" />
		</activity>    
		
		<service android:name=".MediaPlayerService" />
		
	</application>

</manifest>
